<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./main.css">
    <title>Recipe Home</title>
</head>
<body>
    <div class="container">
        <h1 class="fill">RECIPES APP</h1>
        <p class="hidden">Let's get started!</p>
        <button>Let's get started!</button>

        <div class="hidden">
            <textarea>Username</textarea>
            <textarea>Password</textarea>
            <a href="#">Forgot Password</a>
            <a href="#">Create an account</a>
            <button>Login</button>
        </div>
    </div>
</body>
</html>